{% extends 'base.html' %}

{% block title %}Home{% endblock %}


{% block content %}

<div class="container flex-column pt-3">
    <section class="text-center">
        <h1 class="main-title mx-auto pt-4">Your guide to simple and delicious recipes! <img src="static/icons/blue-fork.png" width="40" alt="blue fork icon"/></h1>
        <div class="container p-3">
            <div class="row home">
                <div class="col-md-6 d-flex flex-column">
                    <img class="img-fluid rounded m-2"
                         src="static/images/pink-homepage.webp"
                         alt="woman eating ice cream" />
                </div>
                <div class="col-md-6 d-flex flex-column justify-content-center main-p">
                    <p class="lead pt-4">
                        Welcome to the tantalizing world of our Yummy Food Blog, where culinary delights await your every craving! From comforting classics to exotic flavors, we're here to take you on a flavorful journey that will ignite your passion for all things delicious.<br /> <br /> Join us as we explore the art of cooking, sharing mouthwatering recipes, helpful tips, and inspiring stories along the way. Whether you're a seasoned chef or a kitchen novice, our blog is your go-to destination for culinary inspiration. Get ready to embark on a culinary adventure that will leave you hungry for more.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="recipe-cont">
            {% for recipe in recipes %}
            <a href="{% url 'recipe_detail' recipe.id %}" class="img-container">
                <img src="{{recipe.image.url}}" alt="{{recipe.image_alt}}" style="width: 100%">
                <div class="centered"><h2>{{recipe.title}}</h2></div>
            </a>
            {% endfor %}
        </div>
    </section>
    <div class="container p-3 home-container">
        <div class="row home">
            <div class="col-md-6 d-flex flex-column">
                <img class="image-fluid rounded"
                     src="static/images/fruit-salad.webp"
                     alt="fruit tossed in the air" />
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center shadow pt-5 mt-lg-0 rounded" id="inspired">
                <h2 class="mx-auto mb-5"><img src="static/icons/inspired.png" width="50" alt="food dish icon" /> Be Inspired...</h2>
                <p class="lead fst-italic px-4">
                    "Home cooking is about bringing people together and sharing the love that you put into your food." - Ina Garten
                    <br />
                    <br />
                    <br />
                    "Home cooking is all about embracing the essence of simple, honest food made with love." - Jamie Oliver
                    <br />
                    <br />
                    <br />
                    "Home cooking is not just about the food; it's about the love and care that goes into preparing it." - Nigella Lawson
                    <br />
                    <br />
                    <br />
                    "In a world where everything is fast-paced, home cooking is the antidote that brings people together and nourishes the soul." - Gordon Ramsay
                </p>
            </div>

        </div>
    </div>
</div>

{% endblock %}