@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Lato&display=swap');

:root {
    --title: 'Lato', serif;
    --main-font: 'Crimson', serif;

    --background: #3f006a0f;
    --blue: #0d6efd;
    --black: #000;
    --off-white: #f6f6f6;
    --white: #fff;
    --orange: #ffbf50;

    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;
}
/* Header */
.navbar {
    background-color: var(--off-white);
    box-shadow: var(--smal-box-shadow);
}

a.nav-link {
    color: var(--black);
}

img.logo {
    width: 18.75rem;
}

.active {
    border-bottom: 2px solid var(--blue);
    font-weight: 500;
}
