{% load static %}
<footer>
    <!--Social media-->
    <a href ="https://github.com/" target="_blank" rel="noopener" aria-label="Github Icon">
        <img src="{% static '/icons/github-icon.svg' %}" alt="Github Icon" class="social-icon">
    </a>
    <a href ="https://www.instagram.com/" target="_blank" rel="noopener" aria-label="Instagram Icon">
        <img src="{% static '/icons/ig-instagram-icon.svg' %}" alt="Instagram Icon" class="social-icon">
    </a>
    <a href ="https://twitter.com/" target="_blank" rel="noopener" aria-label="Twitter Icon">
        <img src="{% static '/icons/twitter-square-color-icon.svg' %}" alt="Twitter Icon" class="social-icon">
    </a>
    <a href ="https://www.youtube.com/" target="_blank" rel="noopener" aria-label="YouTube Icon">
        <img src="{% static '/icons/youtube-color-icon.svg' %}" alt="YouTube Icon" class="social-icon">
    </a>
</footer>